body {
  max-width: 1000px;
}

span {
  margin-right: 8px;
}

#navigation {
  margin: 8px;
}

#main {}

#viewport {}

#controls {}

.container {
  margin: 8px;
}

.hidden {
  display: none;
}

.axis-label {
  font-weight: bold;
}

/* Annotation related styling */
.annotation.callout text {
  fill: #00202e;
}

.annotation-connector, .note-line, .annotation.callout.circle .annotation-subject {
  stroke: #00202e;
  stroke-opacity: 1;
}

.annotation-note-bg {
  background-color: #fbf2c4;
  fill: #fbf2c4;
  fill-opacity: 0.9;
}

.legend-item.title {
  font: bold 18px serif;
}

.legend-item.sizes {
  font-size: 12px;
}
